<div class="jumbotron">
    <h1 class="display-4">About This Angular Notes App</h1>
    <p class="lead">This is a simple Notes App made using Angular frameworks with the help of its basic directives, components and routing.</p>
    <hr class="my-4">
    <p>This is my first angular mini-project to understand and practice the working of angular framework. 
        <br>It basically helps you create notes and save it in your local storage and you can also delelte your notes whenever you want
        <br> Stay tuned for more angular applications .</p>
    
  </div>